{
  "openapi": "3.0.3",
  "info": {
    "title": "Enterprise Commerce API",
    "version": "2.4.1",
    "description": "Large-scale production API with mixed authentication models and legacy endpoints."
  },
  "servers": [
    {
      "url": "https://api.enterprise.com/v2"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "User login",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "password": { "type": "string" }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },

    "/users/me": {
      "get": {
        "summary": "Get current user profile",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },

    "/users/{userId}": {
      "get": {
        "summary": "Get user by ID",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "404": { "description": "Not Found" }
        }
      },
      "patch": {
        "summary": "Update user profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "role": { "type": "string" },
                  "isAdmin": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated" }
        }
      }
    },

    "/admin/users": {
      "get": {
        "summary": "Admin user listing",
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },

    "/internal/metrics": {
      "get": {
        "summary": "System metrics",
        "security": [],
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },

    "/orders/{orderId}": {
      "get": {
        "summary": "Get order by ID",
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "OK" }
        }
      },
      "delete": {
        "summary": "Cancel order",
        "responses": {
          "200": { "description": "Deleted" }
        }
      }
    },

    "/files/upload": {
      "post": {
        "summary": "Upload document",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Uploaded" }
        }
      }
    },

    "/webhooks/payment": {
      "post": {
        "summary": "Payment webhook receiver",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": { "type": "string" },
                  "data": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Received" }
        }
      }
    },

    "/search": {
      "get": {
        "summary": "Search products",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 20 }
          }
        ],
        "responses": {
          "200": { "description": "OK" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}